.card-container{
    border-radius: 3px;
    padding: 40px 20px;
    background: #f8f8f8;
    font-size: 15px;
}

.card-right-buttons {
    padding: 3px 23px;
    border: 1px solid #dadada;
    background: #f1f1f1;
}

.card-right-buttons:hover{
    background: #007A5E;
    border: 1px solid #007A5E;
    color: white;
}

.card-buttons {
    padding: 3px 17px;
    border: 1px solid #dadada;
    background: #f1f1f1;
    margin-right: 15px;
}

.card-buttons:hover{
    background: #007A5E;
    border: 1px solid #007A5E;
    color: white;
}

.job-content, .job-info{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
}
