
.card-right-buttons {
    padding: 3px 23px;
    border: 1px solid #dadada;
    background: #f1f1f1;
}

.card-right-buttons:hover{
    background: #007A5E;
    border: 1px solid #007A5E;
    color: white;
}

.card-buttons {
    padding: 3px 17px;
    border: 1px solid #dadada;
    background: #f1f1f1;
    margin-right: 15px;
}

.card-buttons:hover{
    background: #007A5E;
    border: 1px solid #007A5E;
    color: white;
}
