
.search-button:active{
    background-color: #006750;
}

.looking-for{
    min-width: 250px;
}

.selected-area{
    min-width: 200px;
}

.all-categories{
    min-width: 200px;
}

.form-container{
    background: #eaeaea;
}

.cards-container{
    margin-top: 100px;
}
