.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.app__body {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}
span {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.span {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.outline-none{
  outline: none;
  box-shadow: none !important
}
.outline-none :active {
  outline: none;
  box-shadow: none !important
}

.default-button{
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  border-radius: 50px;
  display: flex;
  background: #007A5E;
  color: white;
  border: solid 1px #007A5E;
  outline: none;
}

.default-button:hover,.default-button:focus,.default-button:active,
.default-button:active:focus:not(:disabled):not(.disabled),
.default-button:focus, .default-button:active, .default-button:hover{
  background: #006048;
  color: white;
  border: solid 1px #006048;
  outline: none;
  box-shadow: none;
}
